*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/RxArcFacelibrary/libs
/RxArcFacelibrary/src/main/jniLibs
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/RxArcFacelibrary/libs/
